.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.row .col__50 {
  width: 48%;
  position: relative;
}

.title__text {
  color: #111;
  font-weight: 300;
}

.title__text span {
  color: #ff0157;
  font-size: 1.5em;
  font-weight: 700;
}

.row .col__50 .img__box {
  width: 100%;
  height: 100%;
  position: relative;
}

.row .col__50 img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 991px) {
  .row {
    flex-direction: column;
  }

  .row .col__50 {
    position: relative;
    width: 100%;
  }

  .row .col__50 .img__box {
    height: 300px;
    margin-top: 20px;
  }
}
